{% include "reception/base.html" %}

{% block body %}
{% if err %}
    <h3>Got an error while retrieving patients Data</h3>
{% endif %}
<div class="contianer-fluid">
    <div class="row">

        <div class="col-md-4">

        </div>

        <div class="col-md-4">
            <div class="list-group">
                <a class="list-group-item">
                    <h4  class="list-group-item-heading"> Patients in the Hub</h4>
                </a>
                {% if pa %}
                {% for p in pa %}
                    <a href="{% url 'Reception:history' p.id %}" class="list-group-item">{{ p.patient_fname }} {{ p.patient_sname }}</a>
                {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="col-md-4">

        </div>
    </div>

</div>

{% endblock %}