<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "stats/js/bootstrap.min.js" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "stats/css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "stats/style.css" %}">
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <a class="navbar-brand" href="#">MedHub</a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                   <!-- <ul class="nav navbar-nav navbar-right">
                        <li><a href="#contact">Help</a></li>
                        <li><a href="#contact">Contact Support</a></li>
                    </ul>-->
                </div>
            </div>
        </nav>

        <!-- main jumbotron -->
        <div class="container">
            <div class="jumbotron" style="background-color: white; ">
                <div class="intro text-center">
                    <h2 class="r" style="color: grey; font-family: cursive; font-size: 40px">Welcome to Meru University MedHUB</h2>
                </div>
            </div>
            <div class="container-fluid" style="padding-bottom: 100px;">
                    <div class="row">
                        <div class="col-md-4">
                            
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <legend>Login in to your Desk</legend>

                                <form class="form-verical" role="form" action="#">
                                    <div class="form-group">
                                        <label for="email">Name</label>
                                        <span class="help-block">Your First name only</span>
                                        <input type="email" class="form-control" id="email">
                                        
                                    </div>

                                    <div class="form-group">
                                        <label for="id">ID Number</label>
                                        <span class="help-block">Your National ID Number</span>
                                        <input type="text" class="form-control" id="id">
                                    </div>

                                    <div class="form-group">
                                        <label for="id">Password</label>
                                        <input type="password" class="form-control" id="id">
                                    </div>

                                    <div class="form-group">
                                        <label for="selectLogin">Desk to access</label>
                                        <select class="form-control" id="selectLogin">
                                            <option>Receptionist</option>
                                            <option>Doctor</option>
                                        </select>
                                    </div>

                                    <button class="btn" type="submit">Login</button>
                                </form>
                            </fieldset>
                            
                        </div>
                        <div class="col-md-4">
                            
                        </div>
                    </div>
                </div>

            
        </div>  
    </body>

</html>